@import '../../variables.scss';


.contacts-section .section-body ul {
  padding: 0;
  margin-top: -3px;
}

.contacts-section .section-body li {
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 10px;
}

.contacts-section .section-body li span.contact-text {
  display: block;
  margin-left: 8px;
  word-break: break-word;
}

.contacts-section .section-body li i.contact-icon {
  font-size: $contact-icon-font-size;
  background-color: white;
  color: $side-background-color;
  box-sizing: border-box;
  border-radius: 1000px;
  height: $contact-icon-box-side;
  line-height: $contact-icon-box-side;
  width: $contact-icon-box-side;
  text-align: center;
}

.contacts-section .section-body li i.contact-icon.fab {
  font-size: ($contact-icon-font-size + 3px);
}
