@import '../../variables.scss';


.contacts-section .section-body ul {
  padding: 0;
  margin-top: -7px; // TODO Make it relative
  margin-left: -17px; // TODO Make it relative
  list-style: none;
}

.contacts-section .section-body li {
  display: inline-block;
  margin-left: 10px;
}

.contacts-section .section-body li .wrapper {
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 11px; // TODO Make it relative
}

.contacts-section .section-body li:last-child .wrapper {
  margin-bottom: 0;
}

.contacts-section .section-body li span.contact-text {
  margin-left: 8px; // TODO Make it relative
  word-break: break-word;
}

.contacts-section .section-body li i.contact-icon {
  font-size: $contact-icon-font-size;
  background-color: white;
  color: $side-background-color;
  box-sizing: border-box;
  border-radius: 1000px; // TODO Make it relative
  height: $contact-icon-box-side;
  line-height: $contact-icon-box-side;
  width: $contact-icon-box-side;
  text-align: center;
}

.contacts-section .section-body li i.contact-icon.fab {
  font-size: ($contact-icon-font-size + 3px);
}

.section-head {
  margin-bottom: 22px;
}
