<div class="education-section content-section">
  <div class="section-head">
    EDUCATION
  </div>
  <div class="section-body">
    <div class='educationItem' *ngFor='let eduItem of educationList'>
      <div
        class='educationItem-head'
        [innerHTML]="eduItem.head"
      >
      </div>
      <div *ngIf='eduItem.grade'
        class='educationItem-grade'
        [innerHTML]="eduItem.grade"
      ></div>

      <div class='educationItemItem-subHead'>
        <div
          class='educationItem-institution'
          [innerHTML]="eduItem.institution"
        ></div>
        <div
          class='educationItem-period'
          [innerHTML]="eduItem.period"
        ></div>
      </div>

      <div class='educationItem-info-body'>
        <div
          class='educationItem-info'
          [innerHTML]="eduItem.info"
        ></div>

        <div class='educationItem-Courses' *ngIf='eduItem.courses[0]'>
          <b>Courses & subjects:</b>
          <ul>
            <li
              *ngFor='let course of eduItem.courses'
              [innerHTML]="course"
            >  </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
