@import '../../styles.scss';

$edu-items-spacing: 2.5em; //TODO make a variable font-size + 1
$sub-items-spacing: 10px; //TODO make a variable font-size + 1

.education-section.content-section {
  break-inside: unset;
}

.section-head {
  break-after: avoid;
}


.educationItem {
  // margin-bottom: $edu-items-spacing;
  break-inside: avoid;
  box-decoration-break: clone;
  margin-bottom: 2.3em;
}

.educationItem-grade {
  @extend .highlight-oval;
  // display: none;

  // color: #3a6e87;
  // background-color: white;
  font-weight: bold;
  font-size: 14px;

  top: -2px;
  position: relative;
}

.educationItem-head, div.educationItem-grade {
  // @extend .h3;
}

.educationItem-head {
  margin-bottom: 3px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: bold;

}

.educationItemItem-subHead {
  margin-bottom: $sub-items-spacing;
  // font-style: italic;
  line-height: $h3-font-size + 5px;
  margin-top: -3px;
  // color: lightblue;
  color: #7BAFB8;
}

.educationItem-period {
  font-weight: bold;
}

.educationItem-grade {
  margin-top:-3px;
  margin-bottom: 3px;
}

.educationItem-info {
  margin-bottom: $sub-items-spacing;
  font-size: 14px;
}

.educationItem-Courses {
  margin-top: 16px; //TODO make it relative
}

.educationItem-Courses ul {
  margin-top: 4px;
}

.educationItem-Courses li {
  line-height: 20px;
  margin-bottom: 3px;
}

.educationItem-info-body {
  padding-left: 0.85em;
  border-left: 0.15em solid;
  border-left-color:#7BAFC8;
  // border-left-color: lightcoral;
}

.educationItem-institution {
    color: #3a6e87;
    font-weight: 600;
}

.education-section-separator {
margin-top: -1em;
    border: 1px solid #7bafc8;
    width: 100%;
    border-radius: 50%;
}
