<div class="awards-section content-section">
  <div class="section-head">
      AWARDS
  </div>
  <div class="section-body">
    <div
        *ngFor="let award of awards"
        class="award"
        >
      <div
          class="award-prize-title"
          [innerHTML]=award.title
      >
      </div>
      <div
          class="award-quickInfo"
          >
          {{award.awarder}} | {{award.date}}
      </div>
      <div
          class="award-summary"
          [innerHTML]=award.summary
          >
      </div>

    </div>

  </div>
</div>
