<div id="wrapper">
  <div class="side-content">
    <app-candidate-photo></app-candidate-photo>
    <app-candidate-contacts></app-candidate-contacts>
    <app-candidate-education></app-candidate-education>
    <app-candidate-skills></app-candidate-skills>
  </div>
  <div id="main-content">
    <app-candidate-labeling></app-candidate-labeling>
    <app-candidate-summary></app-candidate-summary>
    <app-candidate-experience></app-candidate-experience>
    <app-candidate-interests></app-candidate-interests>
  </div>
</div>
