<div id="wrapper">
  <div class="side-content">
    <app-candidate-photo></app-candidate-photo>

    <div class="content-sub-col">
      <app-candidate-contacts></app-candidate-contacts>
      <app-candidate-languages></app-candidate-languages>

<!--      <app-candidate-skills></app-candidate-skills>-->
      <!--

      <app-version></app-version>
      -->

      <app-page-filler [spaces]=16></app-page-filler>
    </div>




  </div>
  <div id="main-content">
    <app-candidate-labeling></app-candidate-labeling>
    <app-candidate-summary></app-candidate-summary>

    <div class="content-sub-col">
      <app-candidate-education></app-candidate-education>

      <app-candidate-experience></app-candidate-experience>

    <!--
    <app-candidate-volunteering></app-candidate-volunteering>
    <app-candidate-certificates></app-candidate-certificates>
    <app-candidate-awards></app-candidate-awards>
    <app-candidate-education></app-candidate-education>
    -->
    <app-page-filler [spaces]=100></app-page-filler>

    </div>

  </div>

  <!--
        <app-candidate-awards></app-candidate-awards>

    <app-candidate-skills></app-candidate-skills>
      <app-candidate-interests></app-candidate-interests>
      <app-candidate-volunteering></app-candidate-volunteering>

-->

</div>
