@import '../../styles.scss';

.certificate-quickInfo {
  font-weight: bold;
  margin-bottom: 0.6em;
}

.certificate-title {
  font-weight: bold;
}

.certificate {
  margin-bottom: 3em;
}


.certificate-summary {
  @extend .quoted-body;
}

.certificate-quickInfo-date {
    color: #7BAFB8;
    font-weight: 700;
}

.certificate-quickInfo-issuer {
    color: #7BAFB8;
}
