@import '../../styles.scss';

.certificate-quickInfo {
  // font-weight: bold;
  margin-bottom: 0.6em;
}

.certificate-title {
  font-weight: bold;
}

.certificate {
  margin-bottom: 3em;
}


.certificate-summary {
  @extend .quoted-body;
  text-align: left;
}
