/* You can add global styles to this file, and also import other style files */
// @import './fontawesome/css/all.min.css';

@import './variables.scss';


/* From printing agent - <BEGIN> */
div {
  display: block;
}
/* From printing agent - <END> */

.link-in-content {
  text-decoration: underline;
}


/* UTILITY classes */
.centerize {
  text-align: center;
}

.keywords-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.h1 {
  font-size: $h1-font-size;
  letter-spacing: $h1-letter-spacing;
  text-transform: uppercase;
}

.h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  letter-spacing: $h2-letter-spacing;
  text-transform: uppercase;
}

.h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  line-height: $h3-font-size + 5px;
  letter-spacing: 0.5px; // TODO make it relative
  text-transform: uppercase;
}

.h4 {
  font-weight: bold;
  font-size: 20px;
}

.highlight-oval {
  color: white;
	border-radius: 10px;
	padding: 2px 7px;
	background-color: $highlight-oval-bg-color;
	display: inline-flex;

	margin-bottom: 4px;
  margin-top: 0;
  margin-right:4px;

  font-size: $highlight-oval-font-size;
  font-weight: bold;
}


/** PAGE DEFINITION - <BEGIN> */
body {
  margin: 0 ;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $default-font-size;
  -webkit-font-smoothing:antialiased;
  letter-spacing: $default-letter-spacing;
}

// Page details
#wrapper {
  margin: 0 auto;
  width: $page-width; //21cm;
  box-sizing: border-box;
  display: flex;

  /*to delete*/
  // background-color: lightgray;
}
/* PAGE DEFINITION - <END> */


.side-content {
  background-color: white; //$side-background-color;
  width: $side-column-width; // 7cm;
  // width: 269px;
  padding-top: $side-column-width/14;
  padding-bottom: $side-column-width/14;
  //padding-left: $side-column-width / 15.6;
  padding-right: $side-column-width / 15.6;//TODO Make it relative
  // $side-column-width/14;
  color: black; //white;
  box-sizing: border-box;
  border-right: 1px solid lightgrey;
  padding-left: 2em;
}

.side-content .section-head {
  @extend .h2;
  text-align: left;
  margin-bottom: 1.5em; // $default-font-size; //1em;
}

.side-content .content-section {
  margin-bottom: 3.5em; // TODO Make it relative
  break-before: auto;
  break-inside: avoid;
  //margin-left: 1em;
}

.side-content .section-body ul {
  padding-left: 1em;
  list-style: disc;
}


#main-content {
  width: $page-width - $side-column-width;
  // padding-top: $side-column-width/14;
  padding-bottom: $side-column-width/14;
  //padding-left: $side-column-width / 15.6;
  padding-left: 1.5em;
//padding-right: 34px; //TODO Make it relative
  box-sizing: border-box;
  padding-right: 1.5em;
}


#main-content .section-head {
  @extend .h2;
  margin-bottom: $default-font-size*1.2; //1em;
  text-align: center;
  margin-bottom: 26.2px;
}

#main-content .content-section {
  margin-bottom: 3em;
}

#main-content .section-body {
  line-height: 1.3em;
  line-height: 22px;
}

#main-content .section-body ul {
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  // list-style: circle;
}

#main-content ul.projects-list {
  list-style: none;
  padding-left: 0;
}

ul.projects-list li div{
  padding-left: 0.85em;
  border-left: 0.2em solid;
  border-left-color: #7BAFC8;
  margin-top: 4px;
  margin-bottom: 1em;
}

.keywords-and-techs {
  // display: none;
}



.quoted-body {
  padding-left: 0.85em;
  border-left: 0.2em solid;
  border-left-color:#7BAFC8;
  // border-right: 0.2em solid;
  // border-right-color:#7BAFC8;
  // padding-right: 0.85em;

  text-align: justify;
}

// .skill-name {
//   font-weight: bold;
// }

.summary-section .section-body p, .expItem-summary p {
  margin-top: 0;
  margin-bottom: 0.7em;
}

.lang-span {
  font-weight: bold;
  width: 68px;
  display: inline-block;
}

.new-page-margin {
   height: 16px;
   display: block;
}

#main-content .new-page-margin {
  height: 14px;
}

.summary-section .section-body {
  margin-bottom: 57px;
  line-height: 23px;
}


app-candidate-experience {
  //position: absolute;
  //top: 286px;
  //width: 638.5px;
}
