// Global
$elegant-black: rgb(51, 52, 56);
$side-background-color: rgb(0, 51, 102);
$highlight-oval-color: rgb(147, 147, 147);
$default-font-size: 13px;

// Contacts
$contact-icon-font-size: 14px;
$contact-icon-box-side: 30px;
