// Global
$elegant-black: rgb(51, 52, 56);
$side-background-color: rgb(0, 51, 102);
$default-font-size: 16px;
$default-letter-spacing: 0.5px; //make it relative

// Page
$page-width: 956.5px;
$side-column-width: 270px; //312

// UTILITY
$h1-font-size: 32px;
$h1-letter-spacing: 0.2em;
$h1-font-weight: 700;

$h2-font-size: $default-font-size * 1.23;
$h2-letter-spacing: 0.23em;
$h2-font-weight: 700;

$h3-font-size: $default-font-size * 0.93;
$h3-font-weight: 700;

$highlight-oval-bg-color: rgb(147, 147, 147);
$highlight-oval-font-size: 13.5px;

// Contacts
$contact-icon-font-size: $default-font-size;
$contact-icon-box-side: 28px;

// Non classified components
$candidate-name-font-color: rgb(60, 60, 60);
$candidate-role-font-color: rgb(43, 37, 37);
