<div class="experience-section content-section">
    <div class="section-head">
        ESPERIENZA LAVORATIVA
    </div>
    <div class="section-body">
      <div *ngFor="let expItem of experience" class="expItem">
        <div class="expItem-role" [innerHTML]=expItem.position>
        </div>
        <div class="expItem-quickInfo">
          {{expItem.company}} | {{expItem.address}} | {{expItem.startDate}} - {{expItem.endDate || 'Present'}}
        </div>
        <div
            class="expItem-summary"
            [innerHTML]="expItem.summary"
        >
        </div>

      </div>

    </div>
  </div>
