@import '../../styles.scss';

$sub-head-margin-bottom: 0.2em;

.expItem-role {
  @extend .h4;
  // color: rgb(51, 52, 56);
  margin-top: 1.4em;
  margin-bottom: $sub-head-margin-bottom;
}

.expItem-quickInfo {
  font-weight: bold;
  margin-bottom:  0.5em;
  // color: #7BAFC8;
  color: #3a6e87;
}

.expItem {
  margin-bottom: 3em;
}

.keywords-and-techs {
  display: none;
}

.expItem-summary {
  @extend .quoted-body;
}


